{% extends "base.html" %} {% block content %}
<div>
  <div class="bg-white md:rounded-lg md:shadow">
    <a href="#">
      <figure
        class="md:rounded-t-lg"
        style="
          margin: 0 !important;

          background: url(/static/img/cover.jpg) no-repeat center;
          background-size: cover;
          padding: 10px;
        "
      >
        <p class="image" style="width: 25%; height: 25%">
          <img
            class="rounded-full"
            style="padding: 8px; background-color: #fff"
            src="/static/img/me.jpg"
            alt="Myself using a black hat and drinking a beer"
          />
        </p>
      </figure>
    </a>
    <div class="p-1">
      <article class="markdown-body text-justify regular-list px-4 py-4">
        {{ about_md|safe }}
      </article>
    </div>
  </div>
  <div class="mt-5">
    {% for essay in essays %}
    <div class="bg-white md:rounded-lg md:shadow mt-5">
      <div>
        <img
          class="md:rounded-t-lg max-h-96"
          src="{{ essay.path }}/cover.png"
          alt=""
        />
      </div>
      <div class="p-5">
        <h2 class="font-semibold text-2xl">
          <i class="fa-solid fa-circle-check"></i>
          <a href="/essay/{{ essay.alternate}}">{{ essay.title }}</a>
        </h2>
        <p class="mt-2 text-justify">{{ essay.description|safe }}</p>
        <ul class="mt-6">
          {% for tag in essay.tags %}
          <li style="display: inline-block !important" class="my-4">
            <span
              class="no-underline bg-gray-100 hover:bg-gray-200 text-gray-500 text-sm py-2 px-2 rounded"
              >{{ tag }}</span
            >
          </li>
          {% endfor %}
        </ul>
        <div class="mt-6">
          <a
            href="/essay/{{ essay.alternate}}"
            class="no-underline bg-gray-800 hover:bg-gray-900 text-white text-xl py-2 px-4 rounded"
            ><i class="fa-solid fa-book"></i> Read publication</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="block md:hidden border-t border-gray-300 my-5"></div>
  <div class="my-5 mx-auto w-fit flex">
    {% if previous > 0 %}
    <a
      href="/essays/?page={{ previous }}"
      class="no-underline bg-gray-800 hover:bg-gray-900 text-white text-xl py-2 px-4 rounded"
    >
      <i class="fa-solid fa-angles-left"></i> Previous</a
    >
    {% else %}
    <div
      class="bg-gray-100 hover:bg-gray-200 text-gray-500 text-xl py-2 px-4 rounded"
    >
      <i class="fa-solid fa-angles-left"></i> Previous
    </div>
    {% endif %} {% if next > 0 %}
    <a
      href="/essays/?page={{ next }}"
      class="no-underline bg-gray-800 hover:bg-gray-900 text-white text-xl py-2 px-8 ml-4 rounded"
    >
      Next <i class="fa-solid fa-angles-right"></i
    ></a>
    {% else %}
    <div
      class="bg-gray-100 hover:bg-gray-200 text-gray-500 text-xl py-2 px-4 ml-4 rounded"
    >
      Next <i class="fa-solid fa-angles-right"></i>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
