{% extends "base.html" %} {% block header_card %}
<meta name="title" content="Rodolfo De Nadai" />
<meta name="description" content="Main site: Rodolfo De Nadai" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Rodolfo De Nadai" />
<meta property="og:description" content="Main site: Rodolfo De Nadai" />
<meta property="og:url" content="https://rdenadai.com.br" />
<meta
  property="og:image"
  content="https://rdenadai.com.br/static/img/cover.jpg"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Rodolfo De Nadai" />
<meta name="twitter:description" content="Main site: Rodolfo De Nadai" />
<meta name="twitter:site" content="https://rdenadai.com.br" />
<meta
  name="twitter:image"
  content="https://rdenadai.com.br/static/img/cover.jpg"
/>
{% endblock %} {% block content %}
<div>
  <div class="md:rounded-lg md:shadow md:dark:shadow-gray-500">
    <figure
      class="md:rounded-t-lg"
      style="
        margin: 0 !important;
        background: url(/static/img/cover.jpg) no-repeat center;
        background-size: cover;
        padding: 10px;
      "
    >
      <p class="image" style="width: 25%; height: 25%">
        <img
          class="rounded-full p-1 md:p-2 bg-white"
          src="/static/img/me.jpg"
          alt="Myself using a black hat and drinking a beer"
          loading="lazy"
        />
      </p>
    </figure>
    <div class="p-1">
      <article
        class="markdown-body dark:bg-gray-900 text-justify regular-list px-4 py-4"
      >
        {{ index|safe }}
      </article>
    </div>
  </div>
</div>
{% endblock %}
