{% extends "base.html" %} {% block header_card %}
<meta name="title" content="Rodolfo De Nadai references" />
<meta
  name="description"
  content="Here you might find papers, blogs, books, articles, etc. that I've read and / or I think it's worth sharing."
/>
<meta property="og:type" content="article" />
<meta property="og:title" content="Rodolfo De Nadai references" />
<meta
  property="og:description"
  content="Here you might find papers, blogs, books, articles, etc. that I've read and / or I think it's worth sharing."
/>
<meta property="og:url" content="https://rdenadai.com.br/references" />
<meta
  property="og:image"
  content="https://rdenadai.com.br/static/img/references.png"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Rodolfo De Nadai references" />
<meta
  name="twitter:description"
  content="Here you might find papers, blogs, books, articles, etc. that I've read and / or I think it's worth sharing."
/>
<meta name="twitter:site" content="https://rdenadai.com.br/essay/references" />
<meta
  name="twitter:image"
  content="https://rdenadai.com.br/static/img/references.png"
/>
{% endblock %} {% block content %}
<div class="bg-white md:rounded-lg md:shadow">
  <a href="#">
    <img
      class="md:rounded-t-lg max-h-96"
      src="/static/img/references.png"
      alt=""
    />
  </a>
  <div class="p-5">
    <article class="markdown-body text-justify regular-list px-4 py-4">
      {{ references|safe }}
    </article>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hash = window.location.hash;
    if (hash) {
      const element = document.querySelector(hash);
      if (element) {
        element.scrollIntoView({ behavior: "smooth" });
      }
    }
  });
</script>
{% endblock %}
