{% extends "base.html" %} {% block content %}

<div class="md:rounded-lg md:shadow md:dark:shadow-gray-500">
  <img
    class="md:rounded-t-lg max-h-96"
    src="/static/img/resume.jpg"
    alt="A cozy, rustic scene featuring an open notebook resting on a weathered wooden table. The notebook has neat, handwritten notes, and a black pen lies on its open pages, suggesting recent use. A white cup filled with dark coffee sits on the right side of the notebook, casting a soft shadow over the pages. Warm light illuminates part of the notebook and coffee cup, enhancing the rustic feel of the aged wood and the simplicity of the setup. The scene evokes a peaceful moment of reflection or creativity, perfect for journaling or planning."
  />
  <div class="p-5">
    <article class="markdown-body dark:bg-gray-900 text-justify regular-list px-4 py-4">{{ resume|safe }}</article>
  </div>
</div>

{% endblock %}
