<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rdenadai.com.br</title>
    <meta name="description" content="Explore essays on technology, programming, and artificial intelligence" />
    {% block header_card %}{% endblock %}
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/firacode/6.2.0/fira_code.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    />
    <link
      id="github-markdown-css-theme"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown-dark.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    />
    {% block header_extra %}{% endblock %}
    <link href="/static/style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/index.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B4QSP6YL4P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-B4QSP6YL4P");
    </script>
  </head>
  <body class="bg-white dark:bg-gray-900 text-black dark:text-white">
    <header class="bg-gray-800 text-white p-4">
      <div
        class="flex flex-col md:flex-row container md:mx-auto md:justify-between md:items-center"
        style="max-width: 1024px"
      >
        <div class="flex flex-row items-center">
          <h1 class="text-3xl uppercase font-semibold">Rodolfo De Nadai</h1>
          <button id="menu-toggle" aria-label="Toggle Menu" class="p-2 focus:outline-none ml-auto md:hidden">
            <i class="fas fa-bars text-2xl"></i>
          </button>
        </div>
        <nav class="flex flex-row items-center" aria-label="Social Media Links">
          <ul class="flex space-x-4">
            <li>
              <button
                id="theme-toggle"
                aria-label="Toggle Light/Dark Mode"
                class="text-white text-2xl hover:text-gray-400 focus:outline-none"
              >
                <i class="fas fa-moon"></i>
              </button>
            </li>
            <li>
              <a
                href="https://github.com/rdenadai"
                target="_blank"
                aria-label="GitHub"
                class="text-white text-2xl hover:text-gray-400"
              >
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@RodolfoDeNadai"
                target="_blank"
                aria-label="Youtube"
                class="text-white text-2xl hover:text-gray-400"
              >
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li>
              <a
                href="http://br.linkedin.com/in/rdenadai"
                target="_blank"
                aria-label="LinkedIn"
                class="text-white text-2xl hover:text-gray-400"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="/rss.xml" target="_blank" aria-label="RSS Feed" class="text-white text-2xl hover:text-gray-400">
                <i class="fa fa-rss"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <nav
      class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-500 dark:border-gray-700"
      aria-label="Main Navigation"
    >
      <div class="md:hidden">
        <ul id="mobile-menu" class="hidden flex-col space-y-2 mt-2">
          <li>
            <a href="/" aria-label="Home" class="block p-4 border-b-2 rounded-t-lg {{ css.tab.index }}">
              <span class="font-semibold text-xl">Home</span>
            </a>
          </li>
          <li>
            <a href="/essays" aria-label="Essays" class="block p-4 border-b-2 rounded-t-lg {{ css.tab.essays }}">
              <span class="font-semibold text-xl">Essays</span>
            </a>
          </li>
          <li>
            <a href="/profile" aria-label="Profile" class="block p-4 border-b-2 rounded-t-lg {{ css.tab.profile }}">
              <span class="font-semibold text-xl">Profile</span>
            </a>
          </li>
          <li>
            <a href="/resume" aria-label="Resume" class="block p-4 border-b-2 rounded-t-lg {{ css.tab.resume }}">
              <span class="font-semibold text-xl">Resume</span>
            </a>
          </li>
          <li>
            <a
              href="/references"
              aria-label="References"
              class="block p-4 border-b-2 rounded-t-lg {{ css.tab.references }}"
            >
              <span class="font-semibold text-xl">References</span>
            </a>
          </li>
          <li>
            <a
              href="/ai-hype-sanity-check"
              aria-label="AI Hype Sanity Check"
              class="block p-4 border-b-2 rounded-t-lg {{ css.tab.ai }}"
            >
              <span class="font-semibold text-xl">AI Hype Sanity Check</span>
            </a>
          </li>
        </ul>
      </div>
      <ul class="hidden md:flex flex-wrap flex-col md:flex-row container md:mx-auto -mb-px" style="max-width: 1024px">
        <li class="me-2">
          <a href="/" aria-label="Home" class="inline-block p-4 border-b-2 rounded-t-lg {{ css.tab.index }}"
            ><span class="font-semibold text-xl">Home</span></a
          >
        </li>
        <li class="me-2">
          <a href="/essays" aria-label="Essays" class="inline-block p-4 border-b-2 rounded-t-lg {{ css.tab.essays }}"
            ><span class="font-semibold text-xl">Essays</span></a
          >
        </li>
        <li class="me-2">
          <a href="/profile" aria-label="Profile" class="inline-block p-4 border-b-2 rounded-t-lg {{ css.tab.profile }}"
            ><span class="font-semibold text-xl">Profile</span></a
          >
        </li>
        <li class="me-2">
          <a href="/resume" aria-label="Resume" class="inline-block p-4 border-b-2 rounded-t-lg  {{ css.tab.resume }}"
            ><span class="font-semibold text-xl">Resume</span></a
          >
        </li>
        <li class="me-2">
          <a
            href="/references"
            aria-label="References"
            class="inline-block p-4 border-b-2 rounded-t-lg  {{ css.tab.references }}"
            ><span class="font-semibold text-xl">References</span></a
          >
        </li>
        <li class="me-2">
          <a
            href="/ai-hype-sanity-check"
            aria-label="AI Hype Sanity Check"
            class="inline-block p-4 border-b-2 rounded-t-lg  {{ css.tab.ai }}"
            ><span class="font-semibold text-xl">AI Hype Sanity Check</span></a
          >
        </li>
      </ul>
    </nav>
    <div class="container mx-auto" style="max-width: 1024px">
      <div class="md:my-5">{% block content %}{% endblock %}</div>
    </div>
  </body>
  {% block script %}{% endblock %}
</html>
